// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

body {
    font-family: "Share Tech Mono", monospace;
    font-weight: 400;
    font-style: normal;
    
    
}

.bg-image {
    background-image: url('https://static.vecteezy.com/ti/vettori-gratis/p1/15323996-treno-stazione-con-tabellone-e-bandiera-leggero-scatola-scena-illustrazione-modello-modificabile-vettore-vettoriale.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}